:root {
    --primary: rgb(205, 32, 32);
}

.test {
    height: 50vh;
}

.test .test__quiz-block img {
    transform: scale(.7);
    border: solid 1px black;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.195);
    width: 50vw;
    height: 50vh;
}

.test .test__quiz-block .field input {
    border: solid 2px gray;
}

.test .test__quiz-block .field button {
    background-color: var(--primary);
}

.test .test__quiz-block .next-task__btn {
    background: var(--primary);
}