:root {
    --primary: rgb(142, 32, 205);
}

.test {
    height: 25vh;
}

.test .test__quiz-block .field input {
    border: none;
    box-shadow: 0 .1em 0.5px gray;
}

.test .test__quiz-block .field button {
    background-color: var(--primary);
}

.test .test__quiz-block #start-btn {
    background: var(--primary);
}

.test .test__quiz-block .next-task__btn {
    background: var(--primary);
}